body {
	background-color: #d35400;
	color: #ecf0f1;
}
.jumbotron {
	background-color: #7a3000;
}
.element {
	background-color: #7a300080;
}
.theme-home::before {
	content: "\01F383";
}
.theme-person::before {
	content: "\01F9DF";
}
.theme-team::before {
	content: "\01F578";
}
