<!DOCTYPE html>
<html>
<head>
	{% include 'headers.html' %}
	<title>Admin</title>
</head>
<body>
	<div class="jumbotron">
		<div class="row text-center">
			<h2 class="col-2">&#x2699;</h2>
			<h2 class="col-8 line-middle"> Admin </h2>
			<h2 class="col-2">&#x1F529;</h2>
		</div>
	</div>
	<div class="container">
		<div class="row">

			<div class="col-12 col-md-6 col-xl-4 element-container">
				<div class="element">
					<h3>&#x1F3E1; Home</h3>
					<h5 class="italic text-center"><a href="/home">Go back to home page</a></h5>
				</div>
			</div>

			<div class="col-12 col-md-6 col-xl-4 element-container">
				<div class="element">
					<h3 class="theme-team"> Teams</h3>
					<hr>
					<div class="row">
						{% for team in teams %}
							<h5 class="col-2 line-left">
								{% if team.medal == 1 %}&#x1F947;
								{% elif team.medal == 2 %}&#x1F948;
								{% elif team.medal == 3 %}&#x1F949;
								{% else %}&#x1F44D;{% endif %}
							</h5>
							<h5 class="col-7 line-middle ellipseable">
								<a href="/team/{{ team.id }}">{{ team.name }}</a>
							</h5>
							<h5 class="col-3 line-right">
								{{ team.score }}&#x1F3C6;
							</h5>
						{% endfor %}
					</div>
				</div>
			</div>

			<div class="col-12 col-md-6 col-xl-4 element-container">
				<div class="element">
					<h3>&#x1F5BC; Pictures</h3>
					<hr>
					<div class="row">
						{% for obj in objectives %}
							<a class="col-2 line-left" href="/admin/objectives/delete?obj={{ obj.id }}" onclick="return delete_element('objective', this);">&#x274C;</a>
							<h5 class="col-7 line-middle">{{ obj.description }}</h5>
							<h5 class="col-3 line-right">{{ obj.points }}&#x1F3C6;</h5>
						{% endfor %}
					</div>
					<form class="obj-row" action="/admin/objectives/new">
							<input type="number" name="points" size="3" placeholder="Points" style="width: 25%">
							<input type="text" name="descr" placeholder="Description" style="width: 60%">
							<button type="submit">&#x2705;</button>
					</form>
				</div>
			</div>

			<div class="col-12 col-md-6 col-xl-4 element-container">
				<div class="element">
					<h3>&#x1F92B; Secret QR Codes</h3>
					<hr>
					<div class="row">
						{% for qrcode in qrcodes %}
								<a class="col-2 line-left" href="/admin/qrcodes/delete?qr={{ qrcode.id }}" onclick="return delete_element('QR code', this);">&#x274C;</a>
								<h5 class="col-7 line-middle">
									<a href="/admin/qrcodes/{{ qrcode.id }}">{{ qrcode.description }}</a>
								</h5>
								<h5 class="col-3 line-right">{{ qrcode.points }}&#x1F3C6;</h5>
						{% endfor %}
					</div>
					<form class="obj-row" action="/admin/qrcodes/new">
							<input type="number" name="points" size="3" placeholder="Points" style="width: 25%">
							<input type="text" name="descr" placeholder="Description" style="width: 60%">
							<button type="submit">&#x2705;</button>
					</form>
				</div>
			</div>

			{% for team, pics in pictures.items() %}
				<div class="col-12 col-md-6 col-xl-4 element-container">
					<div class="element">
						<h3>&#x1F5BC; {{ team.name }}</h3>
						<hr>
						<div class="obj-list">
							{% for pic in pics %}
								<div>
									<div class="obj-row">
										<a href="/admin/picture/delete?team={{ team.id }}&obj={{ pic.objective.id }}">&#x274C;</a>
										<h6>{{ pic.objective.description }}</h6>
										<a href="/admin/picture/accept?team={{ team.id }}&obj={{ pic.objective.id }}">&#x2705;</a>
									</div>
									<img class="obj-img" src="/picture/{{ pic.filename }}">
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			{% endfor %}

			<div class="col-12 col-md-6 col-xl-4 element-container">
				<div class="element">
					<h3 class="theme-person"> Players</h3>
					<hr>
					<div class="row clickable-spans">
						{% for user in users %}
							<a href="/admin/user/delete?user={{ user.id }}" class="col-2 text-center" onclick="return delete_element('user', this);">&#x274C;</a>
							<h5 class="col-9 line-middle ellipseable">
								{% if user.team.owner == user %}<a href="/team/{{ user.team.id }}">&#x1F451;</a>{% endif %}{{ user.name }}
							</h5>
						{% endfor %}
					</div>
				</div>
			</div>

		{% include 'footnote.html' %}
		</div>
	</div>
	{% include 'footers.html' %}
	<script type="text/javascript">
		function delete_element(element_type, t) {
			return confirm(`Delete ${element_type} '${t.nextElementSibling.textContent.trim()}'?`);
		}
		
		function confirm_delete_pic(t) {
			return confirm(`Delete this picture?`);
		}

		function confirm_accept_pic(t) {
			return confirm(`Accept this picture?`);
		}
	</script>
</body>
</html>
