<!DOCTYPE html>
<html>
<head>
	{% include 'headers.html' %}
	<title>Admin</title>
</head>
<body>
	<div class="jumbotron">
		<div class="row text-center">
			<h2 class="col-12">Admin</h2>
		</div>
	</div>
	<div class="container text-center">
		<div class="row">

			<div class="col-12 col-md-6 col-xl-4 element-container">
				<div class="element">
					<h3>Users</h3>
					<hr>
					{% for user in users %}
						<div class="obj-row">
							{{ user.name }}<a href="deleteuser?user={{ user.user_id }}" onclick="return confirm_delete_user(this);">&#x274C;</a>
						</div>
					{% endfor %}
				</div>
			</div>

			<div class="col-12 col-md-6 col-xl-4 element-container">
				<div class="element">
					<h3>Teams</h3>
					<hr>
					{% for team in teams %}
						<div class="obj-row">
							<h5>
								{% if team.medal == 1 %}&#x1F947;
								{% elif team.medal == 2 %}&#x1F948;
								{% elif team.medal == 3 %}&#x1F949;
								{% else %}&#x1F44D;{% endif %}
							</h5>
							<h5>
								{{ team.name }}
							</h5>
							<h5>
								{{ team.points }}&#x1F3C6;
							</h5>
						</div>
					{% endfor %}
				</div>
			</div>

			<div class="col-12 col-md-6 col-xl-4 element-container">
				<div class="element">
					<h3>Objectives</h3>
					<hr>
					{% for obj in objectives %}
						<div class="obj-row">
							<h5>&#x1F3C6;{{ obj.points }}</h5>
							<h6>{{ obj.description }}</h6>
							<a href="objectives/delete?obj_id={{ obj.obj_id }}" onclick="return confirm_delete_obj(this);">&#x274C;</a>
						</div>
					{% endfor %}
					<form class="obj-row" action="objectives/new">
							<input type="number" name="points" size="3" placeholder="points" style="width: 15%">
							<input type="text" name="descr" placeholder="Description" style="width: 60%">
							<button type="submit">&#x2705;</button>
					</form>
				</div>
			</div>

			<div class="col-12 col-md-6 col-xl-4 element-container">
				<div class="element">
					<h3>QR Codes</h3>
					<hr>
					{% for qrcode in qrcodes %}
						<div class="obj-row">
							<h5>&#x1F3C6;{{ qrcode.points }}</h5>
							<a href="/admin/qrcodes/{{ qrcode.key }}">{{ qrcode.description }}</a>
							<a href="" onclick="return confirm_delete_obj(this);">&#x274C;</a>
						</div>
					{% endfor %}
					<form class="obj-row" action="/admin/qrcodes/new">
							<input type="number" name="points" size="3" placeholder="points" style="width: 15%">
							<input type="text" name="descr" placeholder="Description" style="width: 60%">
							<button type="submit">&#x2705;</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	{% include 'footers.html' %}
	<script type="text/javascript">
		function confirm_delete_user(t) {
			return confirm(`Are you sure you want to delete user ${t.previousSibling.textContent.trim()} ?`);
		}

		function confirm_delete_obj(t) {
			return confirm(`Are you sure you want to delete the objective ${t.previousElementSibling.textContent.trim()} ?`);
		}
	</script>
</body>
</html>
