<!DOCTYPE html>
<html>
<head>
	{% include 'headers.html' %}
	{% set teams_dict = teams.to_dict() %}
	{% set objs_dict = objectives.to_dict() %}
	<title>Admin</title>
</head>
<body>
	<div class="jumbotron">
		<div class="row text-center">
			<h2 class="col-12">Admin</h2>
		</div>
	</div>
	<div class="container">
		<div class="row">

			<div class="col-12 col-md-6 col-xl-4 element-container">
				<div class="element">
					<h3>Users</h3>
					<hr>
					<div class="row">
						{% for user in users.users %}
							<a class="col-2" href="/admin/user/delete?user={{ user.user_id }}" onclick="return delete_element('user', this);">&#x274C;</a>
							<h5 class="col-10 line-middle">{{ user.name }}</h5>
						{% endfor %}
					</div>
				</div>
			</div>

			<div class="col-12 col-md-6 col-xl-4 element-container">
				<div class="element">
					<h3>Teams</h3>
					<hr>
					<div class="row">
						{% for team in teams.teams %}
							<h5 class="col-2 line-left">
								{% if team.medal == 1 %}&#x1F947;
								{% elif team.medal == 2 %}&#x1F948;
								{% elif team.medal == 3 %}&#x1F949;
								{% else %}&#x1F44D;{% endif %}
							</h5>
							<h5 class="col-6 line-middle">
								<a href="/team?team={{ team.team_id }}">{{ team.name }}</a>
							</h5>
							<h5 class="col-4 line-right">
								{{ team.points }}&#x1F3C6;
							</h5>
						{% endfor %}
					</div>
				</div>
			</div>

			<div class="col-12 col-md-6 col-xl-4 element-container">
				<div class="element">
					<h3>Objectives</h3>
					<hr>
					<div class="row">
						{% for obj in objectives.objectives %}
							<a class="col-2 line-left" href="objectives/delete?obj_id={{ obj.obj_id }}" onclick="return delete_element('objective', this);">&#x274C;</a>
							<h5 class="col-7 line-middle">{{ obj.description }}</h5>
							<h5 class="col-3 line-right">{{ obj.points }}&#x1F3C6;</h5>
						{% endfor %}
					</div>
					<form class="obj-row" action="objectives/new">
							<input type="number" name="points" size="3" placeholder="Points" style="width: 25%">
							<input type="text" name="descr" placeholder="Description" style="width: 60%">
							<button type="submit">&#x2705;</button>
					</form>
				</div>
			</div>

			<div class="col-12 col-md-6 col-xl-4 element-container">
				<div class="element">
					<h3>QR Codes</h3>
					<hr>
					<div class="row">
						{% for qrcode in qrcodes %}
								<a class="col-2 line-left" href="/admin/qrcodes/delete?qr={{ qrcode.key }}" onclick="return delete_element('QR code', this);">&#x274C;</a>
								<h5 class="col-7 line-middle">
									<a href="/admin/qrcodes/{{ qrcode.key }}">{{ qrcode.description }}</a>
								</h5>
								<h5 class="col-3 line-right">{{ qrcode.points }}&#x1F3C6;</h5>
						{% endfor %}
					</div>
					<form class="obj-row" action="/admin/qrcodes/new">
							<input type="number" name="points" size="3" placeholder="Points" style="width: 25%">
							<input type="text" name="descr" placeholder="Description" style="width: 60%">
							<button type="submit">&#x2705;</button>
					</form>
				</div>
			</div>

			{% for team_id in pictures.keys() %}
				<div class="col-12 col-md-6 col-xl-4 element-container">
					<div class="element">
						<h3>{{ teams_dict[team_id].name }}</h3>
						<hr>
						<div class="obj-list">
							{% for obj_id, pic in pictures[team_id].items() %}
								<div>
									<div class="obj-row">
										<a href="/admin/picture/delete?team={{ team_id }}&obj={{ obj_id }}">&#x274C;</a>
										<h6>{{ objs_dict[obj_id].description }}</h6>
										<a href="/admin/picture/accept?team={{ team_id }}&obj={{ obj_id }}">&#x2705;</a>
									</div>
									<img class="obj-img" src="/picture/{{ pic.filename }}">
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			{% endfor %}


		</div>
	</div>
	{% include 'footers.html' %}
	<script type="text/javascript">
		function delete_element(element_type, t) {
			return confirm(`Delete ${element_type} '${t.nextElementSibling.textContent.trim()}'?`);
		}
		
		function confirm_delete_pic(t) {
			return confirm(`Delete this picture?`);
		}

		function confirm_accept_pic(t) {
			return confirm(`Accept this picture?`);
		}
	</script>
</body>
</html>
