<!DOCTYPE html>
<html>
<head>
	{% include 'headers.html' %}
	<title>{{ team.name }}</title>
	<style type="text/css">
		body {
			background-color: {{ team.colors[1] }};
		}
		.jumbotron {
			background-color: {{ team.colors[0] }};
		}
		.element {
			background-color: {{ team.colors[0] }}80;
		}
	</style>
</head>
<body>
	<div class="jumbotron">
		<div class="row text-center">
			<h2 class="col-12 theme-big-title"> {{ team.name }} </h2>
		</div>
	</div>
	<div class="container">
		<div class="text-center">
			<div class="col-12 col-md-6 offset-md-3 col-xl-4 offset-xl-4 element-container">
				<div class="element">
					<h3>&#x1F389; Yay! &#x1F389;</h3>
					<hr>
					{% if exists and already %}
						<h5>But your team already found</h5>
						<h4 style="font-style: italic;">{{ qrcode.description }}</h4>
						<h5>&#x1F625;</h5>
					{% elif exists %}
						<h5>You found a secret QR!</h5>
						<h4 class="italic">{{ qrcode.description }}</h4>
						<h5>Your team wins {{ qrcode.points }}&#x1F3C6;!</h5>
					{% else %}
						<h5>&#x1F914;This QR Code doesn't exist&#x1F914;</h5>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		window.setTimeout(() => window.location = '/team/{{ team.id }}', 5000);
	</script>
</body>
</html>
