<!DOCTYPE html>
<html>
<head>
	{% include 'headers.html' %}
	{% set teams_dict = teams.to_dict() %}
	{% set sorted_users = users.to_sorted() %}
	<title>Home</title>
</head>
<body>
	<div class="jumbotron">
		<div class="row text-center">
			<h2 class="col-12 theme-big-title"> Home </h2>
		</div>
	</div>
	<div class="container">
		<div class="row">

			<div class="col-12 col-md-6 col-xl-4 element-container">
				<div class="element">
					<h3 class="theme-person"> Me</h3>
					<h5 class="italic text-center">{{ me.name }}</h5>
				</div>
			</div>

			{% if my_team %}
				<div class="col-12 col-md-6 col-xl-4 element-container">
					<div class="element">
						<h3 class="theme-team"> My Team</h3>
						<div class="row">
<!-- 							<h5 class="col-2 line-left">
								&#x1F4AA;
							</h5> -->
							<h5 class="col-9 ellipseable">
								<a href="/team?team={{ my_team.team_id }}">{{ my_team.name }}</a>
							</h5>
							<h5 class="col-3 line-right">
								{{ my_team.points }}&#x1F3C6;
							</h5>
						</div>
					</div>
				</div>
			{% else %}
				<div class="col-12 col-md-6 col-xl-4 element-container">
					<div class="element">
						<h3>&#x1F530; Join a Team</h3>
						<h5 class="text-center"><a href="/home/team/list">Join</a></h5>
					</div>
				</div>
			{% endif %}

			<div class="col-12 col-md-6 col-xl-4 element-container">
				<div class="element text-center">
					<h3>&#x1F60D; Welcome &#x1F60D;</h3>
					<h5 class="italic">I hope you will enjoy the game!</h5>
				</div>
			</div>

			<hr class="col-12">

			<div class="col-12 col-md-6 col-xl-4 element-container">
				<div class="element">
					<h3 class="theme-team"> Ranking</h3>
					<hr>
					<div class="row">
						{% for team in teams.teams %}
							<h5 class="col-2 line-left">
								{% if team.medal == 1 %}&#x1F947;
								{% elif team.medal == 2 %}&#x1F948;
								{% elif team.medal == 3 %}&#x1F949;
								{% else %}&#x1F44D;{% endif %}
							</h5>
							<h5 class="col-6 line-middle ellipseable">
								<a href="/team?team={{ team.team_id }}">{{ team.name }}</a>
							</h5>
							<h5 class="col-4 line-right">
								{{ team.points }}&#x1F3C6;
							</h5>
						{% endfor %}
					</div>
				</div>
			</div>

			<div class="col-12 col-md-6 col-xl-4 element-container">
				<div class="element">
					<h3 class="theme-person"> Players</h3>
					<hr>
					<div class="row">
						{% for user in sorted_users %}
							{% set emoji_id = range(0, 5) | random %}
							<h5 class="col-2">
								{% if emoji_id == 0 %}
									&#x1F9D1;
								{% elif emoji_id == 1 %}
									&#x1F471;
								{% elif emoji_id == 2 %}
									&#x1F646;
								{% elif emoji_id == 3 %}
									&#x1F935;
								{% elif emoji_id == 4 %}
									&#x1F9B8;
								{% endif %}
							</h5>
							<h5 class="col-10 line-middle ellipseable">{{ user.name }}</h5>
						{% endfor %}
					</div>
				</div>
			</div>

		</div>
	</div>
	{% include 'footers.html' %}
</body>
</html>
