<!DOCTYPE html>
<html>
<head>
	{% include 'headers.html' %}
	{% set medals = {1: '🥇', 2: '🥈', 3: '🥉'} %}
	<title>Home</title>
</head>
<body>
	<div class="jumbotron">
		<div class="row text-center">
			<h2 class="col-2 theme-home"></h2>
			<h2 class="col-8 line-middle">
				{% if admin %}
				<span style="cursor: pointer" onclick="window.location='/admin'">Home</span>
				{% else %}
					Home
				{% endif %}
			</h2>
			<h2 class="col-2 theme-home"></h2>
		</div>
	</div>
	<div class="container">
		<div class="row">

			{% if msg %}
				<div class="col-12 element-container">
					<div class="element text-center" style="background-color: #801336;">
						<h3>&#x2757; Error &#x2757;</h3>
						{% if msg == 'already' %}
						<h5 class="italic">This username is already taken!</h5>
						{% endif %}
					</div>
				</div>
			{% else %}
				<div class="col-12 element-container">
					<div class="element text-center">
						<h3>&#x1F60D; Welcome &#x1F60D;</h3>
						<h5 class="italic">I hope you will enjoy the game!</h5>
					</div>
				</div>
			{% endif %}

			<hr class="col-10">

			<div class="col-12 col-md-6 col-xl-4 element-container">
				<div class="element">
					<h3 class="theme-person"> You</h3>
					{% if user %}
						<h5 class="italic text-center">{{ user.name }}</h5>
						{% if admin %}
						<h5 class="text-center"><a href="/admin">&#x1F529; Go to admin page</a></h5>
						{% endif %}
					{% else %}
						<form class="row" action="/user" method="POST">
							<hr>
							<h5 class="col-3">Name:</h5>
							<input class="col-7" type="text" name="name" placeholder="Stephan Hoe">
							<button class="col-2" type="submit">&#x2705;</button>
						</form>
					{% endif %}
				</div>
			</div>

			<div class="col-12 col-md-6 col-xl-4 element-container">
				<div class="element">
					<h3 class="theme-team"> Teams</h3>
					<hr>
					{% if user %}
						<div class="row">
							{% if user.team %}
								<h5 class="col-2 line-left">&#x1F4AA;</h5>
								<h5 class="col-8 text-center">
									<a href="/team/{{ user.team.id }}">My Team</a>
								</h5>
								<h5 class="col-2 line-right">&#x1F4AA;</h5>
							{% else %}
								<h5 class="col-2 line-left">&#x1F195;</h5>
								<h5 class="col-4 line-middle">
									<a href="/home/team/new">Create</a>
								</h5>
								<h5 class="col-4 text-right">
									<a href="#" onclick="alert('Go to a team page and then click Join team')">Join</a>
								</h5>
								<h5 class="col-2 line-right">&#x1F917;</h5>
							{% endif %}
						</div>
						<hr>
					{% endif %}
					<div class="row">
						{% for team in teams %}
							<h5 class="col-2 line-left">
								{{ medals.get(team.medal, '👍')}}
							</h5>
							<h5 class="col-6 line-middle ellipseable">
								<a href="/team/{{ team.id }}">
									{{ team.name }}
									{% if user.team and team.id == user.team.id %}&#x1F496; {% endif %}
								</a>
							</h5>
							<h5 class="col-4 line-right">
								{{ team.score }}&#x1F3C6;
							</h5>
						{% endfor %}
					</div>
				</div>
			</div>

			<div class="col-12 col-md-6 col-xl-4 element-container">
				<div class="element">
					<h3 class="theme-person"> Players</h3>
					<hr>
					<div class="row">
						{% for user in users %}
							{% set emoji_id = user.name.__hash__()%5 %}
							<h5 class="col-2">
								{% if emoji_id == 0 %}
									&#x1F9D1;
								{% elif emoji_id == 1 %}
									&#x1F471;
								{% elif emoji_id == 2 %}
									&#x1F646;
								{% elif emoji_id == 3 %}
									&#x1F935;
								{% elif emoji_id == 4 %}
									&#x1F9B8;
								{% endif %}
							</h5>
							<h5 class="col-9 line-middle ellipseable">{{ user.name }}</h5>
						{% endfor %}
					</div>
				</div>
			</div>

		{% include 'footnote.html' %}
		</div>
	</div>
	{% include 'footers.html' %}
</body>
</html>
