
<!DOCTYPE html>
<html>
<head>
	{% include 'headers.html' %}
	<title>New Team</title>
</head>
<body>
	<div class="jumbotron">
		<div class="row text-center">
			<h2 class="col-12 theme-big-title"> New Team </h2>
		</div>
	</div>
		<form class="name-form" action="new/go">
		<div class="container">
			<div class="row">

				<div class="col-12 col-md-6 offset-md-3 col-xl-4 offset-xl-4 element-container">
					<div class="element">
						<h3>&#x1F39F; Team Name</h3>
						<hr>
						<div class="text-center">
							<input type="text" name="teamname" placeholder="The not straight unicorns" required>
						</div>
					</div>
				</div>

				<div class="col-12 col-md-6 offset-md-3 col-xl-4 offset-xl-4 element-container">
					<div class="element">
						<h3>&#x1F3A8; Color</h3>
						<hr>
						<div class="text-center">
							{% for color in colors.colors %}
								<label class="form-check-label" for="color">
									<div style="background-color: {{ color.colors[1] }}; width: 50px;height: 50px;" class="color-checkbox">
										<input class="form-check-input" type="radio" name="color" value="{{ color.color_id }}">
									</div>
								</label>
							{% endfor %}
						</div>
					</div>
				</div>

				<button class="col-12 col-md-6 offset-md-3 col-xl-4 offset-xl-4 element-container" type="submit">
					<div class="element text-center">
						<h2>&#x2705;</h2>
					</div>
				</button>

			</div>
		</div>
		</form>
	{% include 'footers.html' %}
</body>
</html>
