<!DOCTYPE html>
<html>
<head>
	{% include 'headers.html' %}
	<title>New user</title>
</head>
<body>
	<div class="jumbotron">
		<div class="row text-center">
			<h2 class="col-2 theme-person"></h2>
			<h2 class="col-8 line-middle"> New Player </h2>
			<h2 class="col-2 theme-person"></h2>
		</div>
	</div>
	<form class="name-form" action="newuser">
		<div class="container">
			<div class="row">

				<div class="col-12 col-md-6 offset-md-3 col-xl-4 offset-xl-4 element-container">
					<div class="element">
						<h3>&#x1F39F; Player Name</h3>
						<hr>
						<div class="text-center">
							<input type="text" name="name" placeholder="Stephan Hoe" required>
						</div>
					</div>
				</div>


				<button class="col-12 col-md-6 offset-md-3 col-xl-4 offset-xl-4 element-container" type="submit">
					<div class="element text-center">
						<h2>&#x2705;</h2>
					</div>
				</button>
			</div>
		</div>
	</form>
	{% include 'footers.html' %}
</body>
</html>
