<!DOCTYPE html>
<html>
<head>
	{% include 'headers.html' %}
	<title>{{ team.name }}</title>
	<style type="text/css">
		body {
			background-color: {{ team.colors[1] }};
			color: #ecf0f1;
		}
		.jumbotron {
			background-color: {{ team.colors[0] }};
		}
		.element {
			background-color: {{ team.colors[0] }}80;
		}
		.box-list > span {
			background-color: {{ team.colors[0] }}C0;
		}
		.comments {
			background-color: {{ team.colors[0] }}A0;
		}
		.footnote {
			color: {{ team.colors[0] }}20;
		}
	</style>
</head>
<body>
	<div class="jumbotron">
		<div class="row text-center">
			<h2 class="col-2 theme-team"></h2>
			<h2 class="col-8 line-middle">{{ team.name }}</h2>
			<h2 class="col-2 theme-team"></h2>
		</div>
	</div>
	<div class="container">
		<div class="row">

			{% if msg %}
			<div class="col-12 element-container">
				<div class="element">
					<h3>&#x2757; Error</h3>
					<hr>
					{% if msg == 'is-owner' %}
						You can't leave your team if you're the owner. Make someone else the owner by taping his name in the team page!
					{% endif %}
				</div>
			</div>
			{% endif %}

			<div class="col-12 col-md-6 col-xl-4 element-container">
				<div class="element text-center">
					<h2>{{ team.score }} &#x1F3C6;</h2>
				</div>
			</div>

			<div class="col-12 col-md-6 col-xl-4 element-container">
				<div class="element">
					<h3>&#x1F517; Options</h3>
					<hr>
					<div class="box-list clickable-spans">
						<span>
							<a href="/home">&#x1F3E1; Home</a>
						</span>
						{% if edit %}
						<span>
							<a href="/team/leave" onclick="return confirm('Are you sure you want to leave?')">
								&#x1F44B; Leave Team
							</a>
						</span>
						{% elif user.team %}
						<span>
							<a href="/team/{{ user.team.id }}">&#x1F64F; My team</a>
						</span>
						{% elif user %}
						<span>
							<a href="/home/team/join?team={{ team.id }}">&#x1F917; Join team</a>
						</span>
						{% endif %}
					</div>
				</div>
			</div>

			<div class="col-12 col-md-6 col-xl-4 element-container">
				<div class="element">
					<h3 class="theme-person"> Members</h3>
					<hr>
					<div class="box-list">
						{% for teammate in team.users %}
							<span class="clickable-spans">
							{% if teammate.id != user.id and user.id == team.owner.id %}
							<a href="/team/owner?user={{ teammate.id }}" onclick="return change_owner('{{ teammate.name }}')">
							{% endif %}
								{% if teammate.id == team.owner.id %}&#x1F451; {% endif %}
								{% if teammate.id == user.id %}&#x1F600; {% endif %}
								{{ teammate.name }}
							{% if teammate.id != user.id and user.id == team.owner.id %}
							</a>
							{% endif %}
							</span>
							{% if teammate.id != user.id and user.id == team.owner.id %}
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>

			{% if qrs %}
				<div class="col-12 col-md-6 col-xl-4 element-container">
					<div class="element">
						<h3>&#x1F92B; Secret QR Codes</h3>
						<hr>
						<div class="box-list clickable-spans">
							{% for qr in qrs %}
								{% if qr.id in team.qrs %}
									<span onclick="alert(`You found '{{ qr.description }}'!`);">
										&#x1F535; {{ qr.points }}&#x1F3C6;
									</span>
								{% else %}
									<span onclick="alert(`You didn't find this QR code!`);">
										&#x1F534; {{ qr.points }}&#x1F3C6;
									</span>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			{% endif %}

			{% for obj in objectives %}
				{% set pic = pictures[obj.id] %}	
				<div class="col-12 col-md-6 col-xl-4 element-container">
					<div class="element">
						<h3>&#x1F5BC; {{ obj.description }}</h3>
						<hr>
						{% if obj.id in pictures %}
							{% if edit or pic.status == 1 or is_admin %}
								<img class="obj-img" src="/picture/{{ pic.filename }}">


									
									<div style="{{ 'display: none;' if not pic.comments }}">
										<hr>
										<div id="comments-{{ pic.id }}" class="comments">
											{% for comment in pic.comments %}
												<div class="box-list comment">
													<span>{{ comment.user.name }} : <span>{{ comment.text }}</span></span>
												</div>
											{% endfor %}
										</div>
									</div>


							{% else %}
								<h1 class="text-center">&#x1F622;</h1>
							{% endif %}
						{% elif edit %}
						<form action="/team/picture" method=post enctype=multipart/form-data class="text-center">
							<input type="hidden" name="id" value="{{ obj.id }}">
							<input id="file-{{ obj.id }}" type="file" name="file" accept="image/*" onchange="this.form.submit()" hidden>
							<label for="file-{{ obj.id }}">
								<h1>&#x1F4F8;</h1>
							</label>
						</form>
						{% else %}
							<h1 class="text-center">&#x1F622;</h1>
						{% endif %}
						<hr>
						<div class="obj-row">
							<h5 class="obj-points">&#x1F3C6;{{ obj.points }}</h5>
							{% if obj.id in pictures and edit %}
								<h5 class="obj-points new-comment" onclick="send_comment('{{ pic.id }}')">&#x1F4AC;</h5>
								<h5 class="obj-points">
									{% if user.id == team.owner.id %}
									<a href="/team/picture/delete?pic={{ pic.id }}" onclick="return delete_picture()">
										&#x274C;
									</a>
									{% else %}
									<a style="cursor: pointer;" onclick="return not_the_owner()">
										&#x274C;
									</a>
									{% endif %}
								</h5>
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}

			{% include 'footnote.html' %}

		</div>
	</div>
	{% include 'footers.html' %}
	<script src="{{ url_for('static', filename='js/jsQR.js') }}"></script>

	<script type="text/javascript">
		function delete_picture() {
			return confirm("Are you sure you want to delete this picture?");
		}
		function not_the_owner() {
			return alert("Only the owner of the team can delete a picture");
		}
		function change_owner(username) {
			return confirm(`Make ${username} the leader of the team?`)
		}
		function send_comment(pic_id){
				let text = prompt();
				HTTP.post('/comment', {pic: pic_id, text: text}).then(() => append_comment(pic_id, '{{ user.name }}', text));
		}
		function append_comment(pic_id, username, text) {
			let parent = document.getElementById(`comments-${pic_id}`);
			let div = document.createElement('div');
			div.classList = 'box-list comment';
			div.innerHTML = `<span>${ username } : <span>${ text }</span></span>`;
			parent.appendChild(div);
			parent.parentElement.style.display = 'block';
		}
	</script>
</body>
</html>
