<!DOCTYPE html>
<html>
<head>
	{% include 'headers.html' %}
	<title>Team selection</title>
</head>
<body>
	<div class="jumbotron">
		<div class="row text-center">
			{% if select %}
				<h2 class="col-12">Join a team</h2>
			{% else %}
				<h2 class="col-12">Check a team</h2>
			{% endif %}
			<h4 class="col-12">{{ user.name }}</h4>
		</div>
	</div>
	<div class="container">
		<div class="row text-center">
			{% if select %}
			<div class="col-12 col-md-6 col-xl-4 element-container">
				<div class="element">
					<h4>
						<a href="new">New team</a>
					</h4>
				</div>
			</div>
			{% endif %}
			{% for t in teams %}
				<div class="col-12 col-md-6 col-xl-4 element-container">
					<div class="element">
						<h3>{{ t.name }}</h3>
						<hr>
						<div class="row">
							<h4 class="col-3">
								{% if t.medal == 1 %}&#x1F947;
								{% elif t.medal == 2 %}&#x1F948;
								{% elif t.medal == 3 %}&#x1F949;
								{% else %}&#x1F44D;{% endif %}
							</h4>
							<h5 class="col-6">
								{% if team_id and team_id == t.team_id %}&#x1F970;{% endif %}
								{% if select %}
								<a href="join?team={{ t.team_id }}">Join</a>
								{% else %}
								<a href="/team?team={{ t.team_id }}">Check</a>
								{% endif %}
								{% if team_id and team_id == t.team_id %}&#x1F970;{% endif %}
							</h5>
							<h4 class="col-3">
								{{ t.points }}&#x1F3C6;
							</h4>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	{% include 'footers.html' %}
</body>
</html>
