<!DOCTYPE html>
<html>
<head>
	{% include 'headers.html' %}
	<title>Team selection</title>
</head>
<body>
	<div class="jumbotron">
		<div class="row text-center">
			<h2 class="col-2 theme-home"></h2>
			<h2 class="col-8 line-middle">Join a team</h2>
			<h2 class="col-2 theme-home"></h2>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6 col-xl-4 element-container text-center">
				<div class="element">
					<h4>
						<a href="team/new">New team</a>
					</h4>
				</div>
			</div>


			{% for t in teams %}
				<div class="col-12 col-md-6 col-xl-4 element-container">
					<div class="element" style="border: 3px solid {{ t['colors'][0] }};">
						<div class="row">
							<h5 class="col-2 line-left">
								{% if t.medal == 1 %}&#x1F947;
								{% elif t.medal == 2 %}&#x1F948;
								{% elif t.medal == 3 %}&#x1F949;
								{% else %}&#x1F44D;{% endif %}
							</h5>
							<h5 class="col-7 line-middle">
								<a href="team/join?team={{ t.id }}" onclick="return join_team()">{{ t.name }}</a>
							</h5>
							<h5 class="col-3 line-right">
								<span>{{ t.points }}&#x1F3C6;</span>
							</h5>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	{% include 'footers.html' %}
	<script type="text/javascript">
		function join_team() {
			return confirm('Join this team?');
		}
	</script>
</body>
</html>
