<!DOCTYPE html>
<html>
<head>
	{% include 'headers.html' %}
	{% set team_qrs_dict = team_qrs.to_dict() %}
	<title>{{ team.name }}</title>
	<style type="text/css">
		body {
			background-color: {{ team.color.colors[1] }};
		}
		.jumbotron {
			background-color: {{ team.color.colors[0] }};
		}
		.element {
			background-color: {{ team.color.colors[0] }}80;
		}
		div.element span {
			background-color: {{ team.color.colors[0] }}C0;
		}
	</style>
</head>
<body>
	<div class="jumbotron">
		<div class="row text-center">
			<h2 class="col-12">{{ team.name }}</h2>
		</div>
	</div>
	<div class="container">
		<div class="row">


			<div class="col-12 col-md-6 col-xl-4 element-container">
				<div class="element text-center">
					<h2>{{ team.points }} &#x1F3C6;</h2>
				</div>
			</div>

			<div class="col-12 col-md-6 col-xl-4 element-container">
				<div class="element">
					<h3>&#x1F64B; Members</h3>
					<hr>
					{% for teammate in teammates %}
						<span>{{ teammate.name }}</span>
					{% endfor %}
				</div>
			</div>

			<div class="col-12 col-md-6 col-xl-4 element-container">
				<div class="element">
					<h3>&#x1F92B; Secrets</h3>
					<hr>
					{% for qr in qrs.qrcodes %}
						<span onclick="alert('{{ qr.description }}');">
							{% if qr.qr_id in team_qrs_dict %}
								&#x1F49A;
							{% else %}
								&#x1F534;
							{% endif %}
							{{ qr.points }}&#x1F3C6;
						</span>
					{% endfor %}
				</div>
			</div>

			{% for obj in objectives %}		
			<div class="col-12 col-md-6 col-xl-4 element-container">
				<div class="element">
					<h3>&#x1F5BC; {{ obj.description }}</h3>
					<hr>
					{% if obj.obj_id in pictures %}
					<img class="obj-img" src="/picture/{{ pictures[obj.obj_id].filename }}">
					{% elif edit %}
					<form action="/team/picture/add" method=post enctype=multipart/form-data class="text-center">
						<input type="hidden" name="obj_id" value="{{ obj.obj_id }}">
						<input id="file-{{ obj.obj_id }}" type="file" name="file" accept="image/*" onchange="this.form.submit()" hidden>
						<label for="file-{{ obj.obj_id }}">
							<h1>&#x1F4F8;</h1>
						</label>
					</form>
					{% else %}
						<h1 class="text-center">&#x1F622;</h1>
					{% endif %}
					<hr>
					<div class="obj-row">
						<h5 class="obj-points">&#x1F3C6;{{ obj.points }}</h5>
						{% if obj.obj_id in pictures and edit %}
							<h5 class="obj-points">
								<a href="/team/picture/delete?obj_id={{ obj.obj_id }}" onclick="return delete_picture()">&#x274C;</a>
							</h5>
						{% endif %}
					</div>
				</div>
			</div>
			{% endfor %}

			<div class="col-12 col-md-6 col-xl-4 element-container">
				<div class="element">
					<h3>Actions</h3>
					<hr>
						{% if edit %}
						<span>
							<a href="team/leave" class="col-4" onclick="return confirm('Are you sure?')">Leave Team</a>
						</span>
						{% else %}
						<span>
							<a href="/team" class="col-4">My team</a>
						</span>
						{% endif %}
						<span>
							<a href="/team/list?select=0" class="col-4">Other teams</a>
						</span>
				</div>
			</div>


		</div>
	</div>
	{% include 'footers.html' %}
	<script type="text/javascript">
		function delete_picture() {
			return confirm("Are you sure you want to delete this picture ?");
		}
	</script>
</body>
</html>
